.container {
  height: 300px;
  width: 200px;
  border: 1px solid black;
}
button {
  align-items: center;
  margin-top: 15px;
  margin-left: 50px;
}
.color {
  height: 90px;
  width: 100px;
  background-color: aqua;
  margin-top: 15px;
  margin-left: 50px;
  display:block;
}
